extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="Sobre nosotros", class="img-fluid") 
            .col-md-7
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus, magna sit amet feugiat viverra, nulla lorem pretium risus, nec dignissim risus justo ultricies augue. Fusce euismod tortor et feugiat imperdiet.

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus, magna sit amet feugiat viverra, nulla lorem pretium risus, nec dignissim risus justo ultricies augue. Fusce euismod tortor et feugiat imperdiet.

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus, magna sit amet feugiat viverra, nulla lorem pretium risus, nec dignissim risus justo ultricies augue. Fusce euismod tortor et feugiat imperdiet.


    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg",alt="seguridad",class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus, magna sit amet feugiat viverra, nulla lorem pretium risus, nec dignissim risus justo ultricies augue. Fusce euismod tortor et feugiat imperdiet.
                .col-md-4 
                    img(src="img/icono_destinos.svg",alt="Mejores destinos",class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus, magna sit amet feugiat viverra, nulla lorem pretium risus, nec dignissim risus justo ultricies augue. Fusce euismod tortor et feugiat imperdiet.
                .col-md-4 
                    img(src="img/icono_precios.svg",alt="precios",class="img-fluid mb-4")
                    h2.mb-4 Mejores precios 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus, magna sit amet feugiat viverra, nulla lorem pretium risus, nec dignissim risus justo ultricies augue. Fusce euismod tortor et feugiat imperdiet.